# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Sensitive files
#go/src/telemetry/constants/tokens.go
TODO.txt

# Helper files
py/src/thermonitor/log.txt
py/src/thermonitor/error.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
js/aviader/node_modules/
rs/sensor/target/
py/src/thermonitor.egg-info
go/bin
go/pkg
